<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="3" >
<parameter name="author" value="Guru99" />
<parameter name="searchKey" value="India" />
<test name="ParameterWithTestNGXML">
<parameter name="searchKey" value="UK" />
<parameter name="searchKey" value="Imdia" />
<classes>
<class name="parameter.ParameterWithTestNGXML">
</class>
</classes>
</test>
</suite>